{% extends 'base.html' %}

{% load bootstrap3 %} 

{% block title %}
	Accounts list
{% endblock %}

{% block header %}
<div class="page-header">
    <h3>Accounts list</h3>
</div>
{% endblock %}

{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
	    <th>Account id</th>
	    <th>Balance</td>
	    <th>Currency</th>
	    <th>Created</th>
        </tr>
    </thead>
    <tbody>
    {% for account in accounts %}
    <tr>
	<td>{{ account.id | stringformat:"08d" }}</td>
	<td>{{ account.balance }}</td>
	<td>{{ account.currency }}</td>
	<td>{{ account.created }}</td>
    </tr>
    {% endfor %}
    <tbody>
</table>
<div align="center">
{% bootstrap_pagination accounts  url="accounts" size="small" %}
</div>
{% endblock %}

